.theadEstudiante{
    background-color: #075791 !important;    
    color: white !important;
}

.tablaEstudiante{
    max-height: 300px; 
    overflow-y: auto; 
}

.botonInterno{
    margin-right: 5px;
}